@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Questrial", sans-serif;
  text-align: center;
  background-image: url("dollar.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  backdrop-filter: brightness(60%);
}
.container {
  display: inline-block;
  padding: 0.5rem;
  position: relative;
  top: 2rem;

  background-color: rgba(255, 255, 255, 0.7);

  border-radius: 10px;
  color: #333;

  width: 70%;
}
.header-container {
  padding: 0.3rem;
}
input {
  width: 80%;
  height: 2rem;
  margin: 0.4rem;
  padding: 0.1rem;
  border: 1px solid gray;
  outline: none;

  border-radius: 0.4rem;
}
button {
  margin: 1rem;
  padding: 0.6rem;
  width: 6rem;
  border: none;
  border: 0.1px solid black;
}
button:hover {
  background-color: #fad9a1;
  transition: all ease-in-out;
  transition-duration: 400ms;
}

p {
  padding: 0.3rem;
  margin: 0, 0.3rem;
}

footer {
  margin-bottom: 0;
  display: block;
  margin-top: 1rem;
}
footer {
  text-align: center;
}
a > * {
  color: black;
  font-size: 1.2rem;
}

footer > h6 {
  font-size: 0.7rem;
}
.footer-links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: auto;
}

@media screen and (min-width: 640px) {
  .container {
    width: 35%;
    max-width: 40%;

    padding: 1rem;
  }
  input {
    width: 60%;
  }
}
